In [239]:
import numpy as np
import pandas as pd;
import matplotlib.pyplot as plt
from scipy.stats import truncnorm

In [240]:
np.random.seed(0)

In [241]:
data =pd.read_csv('cleaned1.1.csv',encoding= 'unicode_escape')
data.head()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014

In [242]:
#conversions
data['Temp']=pd.to_numeric(data['Temp'],errors='coerce')
data['D.O. (mg/l)']=pd.to_numeric(data['D.O. (mg/l)'],errors='coerce')
data['PH']=pd.to_numeric(data['PH'],errors='coerce')
data['B.O.D. (mg/l)']=pd.to_numeric(data['B.O.D. (mg/l)'],errors='coerce')
data['CONDUCTIVITY (µmhos/cm)']=pd.to_numeric(data['CONDUCTIVITY (µmhos/cm)'],errors='coerce')
data['NITRATENAN N+ NITRITENANN (mg/l)']=pd.to_numeric(data['NITRATENAN N+ NITRITENANN (mg/l)'],errors='coerce')
data['FECAL COLIFORM (MPN/100ml)']=pd.to_numeric(data['FECAL COLIFORM (MPN/100ml)'],errors='coerce')
data['TOTAL COLIFORM (MPN/100ml)Mean']=pd.to_numeric(data['TOTAL COLIFORM (MPN/100ml)Mean'],errors='coerce')
data.dtypes

STATION CODE                         object
LOCATIONS                            object
STATE                                object
Temp                                float64
D.O. (mg/l)                         float64
PH                                  float64
CONDUCTIVITY (µmhos/cm)             float64
B.O.D. (mg/l)                       float64
NITRATENAN N+ NITRITENANN (mg/l)    float64
FECAL COLIFORM (MPN/100ml)          float64
TOTAL COLIFORM (MPN/100ml)Mean      float64
year                                  int64
dtype: object

In [243]:
def get_truncated_normal(mean, sd, low, upp):
    return truncnorm((low - mean) / sd, (upp - mean) / sd, loc=mean, scale=sd)

In [244]:
index = data[ (data['PH'] > 14) | (data['PH'] < 0)].index
data.loc[index, ['PH','CONDUCTIVITY (µmhos/cm)']] = data.loc[index, ['CONDUCTIVITY (µmhos/cm)','PH']].values

In [245]:
mean=data.mean();std=data.std()
for att in data.columns:
    col_vals = data[att].values
    if (data.isna().sum()[att]):
        normal=get_truncated_normal(mean[att],std[att],0,float('inf'))
        nanfiller=normal.rvs(data.isna().sum()[att])

        filler_index = 0     
        for i in range(len(col_vals)):
            if np.isnan(col_vals[i]):
                col_vals[i] = nanfiller[filler_index]
        filler_index += 1

In [247]:
data.to_csv("cleaned1.2.csv",index=False)

In [255]:
data.groupby(['year']).count()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean
year,,,,,,,,,,,
2003,88,88,88,88,88,88,88,88,88,88,88
2004,2,2,2,2,2,2,2,2,2,2,2
2005,119,119,119,119,119,119,119,119,119,119,119
2006,105,105,105,105,105,105,105,105,105,105,105
2007,120,120,120,120,120,120,120,120,120,120,120
2008,159,159,159,159,159,159,159,159,159,159,159
2009,181,181,181,181,181,181,181,181,181,181,181
2010,188,188,188,188,188,188,188,188,188,188,188
2011,231,231,231,231,231,231,231,231,231,231,231
2012,292,292,292,292,292,292,292,292,292,292,292
2013,261,261,261,261,261,261,261,261,261,261,261
2014,245,245,245,245,245,245,245,245,245,245,245